.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    /* background-color: #8BF5FA; */
}

.footer .footer-background{
    background: url("../resources/background.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* margin-bottom: 1%; */
    width: 100%;
}

.footer .footer-background .footer-container{
    background: white;
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.4),
        rgba(255, 255, 255, 0.2)
    );
    backdrop-filter: blur(1rem);
    
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
    height: 90vh;
    width: 100%;
}

.footer .footer-background .footer-container .footer-section-1{
    /* background-color: #F1F6F9; */
    width: 90vw;
    margin-left: 5rem;
    border-bottom: 2px solid #F1F6F9;

}

.footer .footer-background .footer-container .footer-section-1 label{
    font-size: 15vh;
    text-transform: uppercase;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 800;
    color: #8BF5FA;
    opacity: 0.8;
}

.footer .footer-background .footer-container .footer-section-2{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-left: 5rem;
}

.footer-section-2 .footer-head{
    /* background-color: #8BF5FA; */
    width: 55vw;
    height: 65vh;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
    /* background-color: aqua; */
}

.footer-section-2 .footer-head section{
    background-color: #27374D;
    height: 12vh;
    width: 30vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 3px;
}

.footer-section-2 .footer-head section button{
    background-color: #F1F6F9;
    height: 11vh;
    width: 6vw;
    margin-left: 0.2rem;
    margin-right: 3rem;
    color: black;
}

.footer-section-2 .footer-head section button i{
    font-size: 1.5rem;
  }

.footer-section-2 .footer-head section span{
    color: #8BF5FA;
  }

.footer-section-2 .footer-head section:hover{
    background-color: #8BF5FA;
    transition: 0.6s;
  }

.footer-section-2 .footer-head section:hover button{
    background-color: black;
    color: #F1F6F9;
    transition: 0.6s;
    
  }

.footer-section-2 .footer-head section:hover button i{
    color: #F1F6F9;
    transition: 0.6s;
  
  }

.footer-section-2 .footer-head section:hover span{
    color: black;
    transition: 0.6s;
    font-size: 500;
  }


.footer-section-2 .footer-body{
    /* background-color: #8BF5FA; */
    width: 34vw;
    height: 50vh;
    /* background-color: purple; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-section-2 .footer-body form{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 30.5vw;
    height: 50vh;
  
  }

  .footer-section-2 .footer-body .footer-part-1 input{
    background-color: #27374D;
    color: #8BF5FA;
    font-weight: 500;
    font-size: 17px;
    padding-left: 1rem;
    height: 10vh;
    width: 29vw;
    border-radius: 3px;
    outline: none;
    border: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  }

  .footer-section-2 .footer-body .footer-part-1 input:focus,
  .footer-section-2 .footer-body .footer-part-2 input:focus,
  .footer-section-2 .footer-body .footer-part-3 textarea:focus
  {
    color: black;
    background-color: #8BF5FA;
  }

  .footer-section-2 .footer-body .footer-part-2 input{
    background-color: #27374D;
    color: #8BF5FA;
    font-weight: 500;
    font-size: 17px;
    padding-left: 1rem;
    height: 10vh;
    width: 29vw;
    border-radius: 3px;
    outline: none;
    border: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  }

  .footer-section-2 .footer-body .footer-part-3 textarea{
    background-color: #27374D;
    color: #8BF5FA;
    font-weight: 500;
    font-size: 17px;
    padding-left: 1rem;
    height: 10vh;
    width: 29vw;
    border-radius: 3px;
    outline: none;
    border: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  }

  .footer-section-2 .footer-body button{
    text-transform: uppercase;
    height: 10vh;
    width: 30.5vw;
    background-color: #F1F6F9;
    color: black;
    font-weight: 500;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  }

  .footer-section-2 .footer-body button:hover{
    color: #27374D;
    background-color: #8BF5FA;
    transition: 0.5s all;
  }

  .footer-section-2 .footer-body button:hover span{
    margin-right: 2rem;
    transition: 0.5s all;
  }

  .footer .footer-links{
    background-color: #134E5E;
    width: 100%;
    height: 10vh;
    color: #8BF5FA;
    font-size: large;
    border-top: 2px solid #8BF5FA;
  }
  
  .footer .footer-links p{
    margin-left: 5rem;
  }
  
  @media only screen and (max-width: 1025px){
    .footer-section-2 .footer-head section{
        background-color: #27374D;
        height: 12vh;
        width: 35vw;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        border-radius: 3px;
    }
    
    .footer-section-2 .footer-head section button{
        background-color: #F1F6F9;
        height: 11vh;
        width: 8vw;
        margin-left: 0.2rem;
        margin-right: 1.5rem;
        color: black;
    }
  }

  @media only screen and (max-width: 769px){

    .footer{
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: column;
      /* background-color: #8BF5FA; */
  }

    .footer .footer-background .footer-container .footer-section-1{
        margin-left: 2.5rem;
        /* background-color: green; */
    }

    .footer .footer-background .footer-container .footer-section-2{
        margin-left: 2.5rem;
        justify-content: space-around;
        /* background-color: #F1F6F9; */
        width: 90vw;
        /* background-color: aqua; */
    }

    .footer-section-2 .footer-head section{
        background-color: #27374D;
        height: 12vh;
        width: 45vw;
    }

    .footer-section-2 .footer-head section button{
        background-color: #F1F6F9;
        height: 11vh;
        width: 9vw;
        margin-left: 0.2rem;
        margin-right: 2rem;
        color: black;
    }
    .footer-section-2 .footer-head section span{
        color: #8BF5FA;
        font-size: 14px;
      }
    
      .footer-section-2 .footer-body{
        /* background-color: #8BF5FA; */
        width: 90vw;
        height: 52vh;
        /* background-color: purple; */
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .footer-section-2 .footer-body .footer-part-1 input{
        font-weight: 500;
        font-size: 15px;
        padding-left: 1rem;
        height: 10vh;
        width: 35vw;
        border-radius: 3px;
      }
    
      .footer-section-2 .footer-body .footer-part-2 input{
        font-weight: 500;
        font-size: 15px;
        padding-left: 1rem;
        height: 10vh;
        width: 35vw;
        border-radius: 3px;
      }
    
      .footer-section-2 .footer-body .footer-part-3 textarea{
        font-weight: 500;
        font-size: 15px;
        padding-left: 1rem;
        height: 10vh;
        width: 35vw;
        border-radius: 3px;
        padding-top: 1rem;
      }
    
      .footer-section-2 .footer-body button{
        font-weight: 500;
        font-size: 15px;
        padding-left: 1rem;
        height: 10vh;
        width: 37vw;
        border-radius: 3px;
      }
    
  }

  @media only screen and (max-width: 426px){
    .footer .footer-background .footer-container .footer-section-1{
        margin-left: 1.4rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        /* background-color: aliceblue; */
    }

    .footer .footer-background .footer-container .footer-section-1 label{
        font-size: 13vh;
    }

    .footer .footer-background .footer-container .footer-section-2{
        margin-left: 0rem;
        justify-content: space-around;
        /* background-color: #F1F6F9; */
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .footer-section-2 .footer-head{
        width: 90vw;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        height: 13vh;
    }
    .footer-section-2 .footer-body{
        width: 90vw;
    }

    .footer-section-2 .footer-head section{
        background-color: #27374D;
        height: 12vh;
        width: 20vw;
        display: flex;
    justify-content: space-around;
    align-items: center;
    }

    .footer-section-2 .footer-head section button{
        background-color: #F1F6F9;
        height: 10.5vh;
        width: 18vw;
        margin-left: 0rem;
        margin-right: 0rem;
        color: black;
    }


    .footer-section-2 .footer-body{
        /* background-color: #8BF5FA; */
        width: 90vw;
        height: 52vh;
        /* background-color: purple; */
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .footer-section-2 .footer-body .footer-part-1 input{
        font-weight: 500;
        font-size: 15px;
        padding-left: 1rem;
        height: 10vh;
        width: 84vw;
        border-radius: 3px;
      }
    
      .footer-section-2 .footer-body .footer-part-2 input{
        font-weight: 500;
        font-size: 15px;
        padding-left: 1rem;
        height: 10vh;
        width: 84vw;
        border-radius: 3px;
      }
    
      .footer-section-2 .footer-body .footer-part-3 textarea{
        font-weight: 500;
        font-size: 15px;
        padding-left: 1rem;
        height: 10vh;
        width: 84vw;
        border-radius: 3px;
        padding-top: 1rem;
      }
    
      .footer-section-2 .footer-body button{
        font-weight: 500;
        font-size: 15px;
        padding-left: 1rem;
        height: 10vh;
        width: 88vw;
        border-radius: 3px;
      }
    
  }

  @media only screen and (max-width: 321px){
    .footer .footer-background .footer-container .footer-section-1 label{
        font-size: 10vh;
    }

    .footer-section-2 .footer-head{
        width: 90vw;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        height: 13vh;
        /* background-color: aqua; */
    }

    .footer-section-2 .footer-head section{
        background-color: #27374D;
        height: 10vh;
        width: 20vw;
        display: flex;
    justify-content: space-around;
    align-items: center;
    }

    .footer-section-2 .footer-head section button{
        background-color: #F1F6F9;
        height: 9vh;
        width: 18vw;
        margin-left: 0rem;
        margin-right: 0rem;
        color: black;
    }
  }

  @media only screen and (min-width: 390px) and (max-width: 400px){
    .footer .footer-background .footer-container .footer-section-1 label{
      font-size: 10vh;
  }

  .footer-section-2 .footer-head{
      width: 90vw;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: row;
      height: 13vh;
      /* background-color: aqua; */
  }

  .footer-section-2 .footer-head section{
      background-color: #27374D;
      height: 10vh;
      width: 20vw;
      display: flex;
  justify-content: space-around;
  align-items: center;
  }

  .footer-section-2 .footer-head section button{
      background-color: #F1F6F9;
      height: 9vh;
      width: 18vw;
      margin-left: 0rem;
      margin-right: 0rem;
      color: black;
  }
  }