.loader{
    /* background-color: #8BF5FA; */
    background-color: black;
    
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    position:absolute;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
}

.loader section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.loader img{
    height: 3rem;
    width: 3rem;
    border: 2px solid white;
}

.length{
    width: 100px;
}

