.project-container{
    margin-bottom: 3vw;
    /* margin-top: 3vw; */
    /* background-color: aqua; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 120vh;
}

.project-container .project-wrapper{
    width: 95vw;
    /* background-color: tomato; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    min-height: 120vh;
}

.project-container .project-wrapper .project-card{
    background-color: #27374D;
    width: 26vw;
    height: 58vh;
    border-radius: 10px;
    /* margin: 3vw; */
    margin: 3vw 0px;
    box-shadow: 0px 0px 25px #888888;
}

.project-container .project-wrapper .project-card .project-img{
    /* background-color: yellow; */
    border-radius: 14px 14px 0px 0px;
    height: 67%;
}

.project-container .project-wrapper .project-card .project-img img{
    height: 100%;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

.project-container .project-wrapper .project-card .project-logo{
    background-color: #27374D;
    height: 11vh;
    width: 5.5vw;
    margin-top: -3.5vw;
    margin-left: 2vw;
    border-radius: 8px;
    border: 3px solid #8BF5FA;
}

.project-container .project-wrapper .project-card .project-desc{
    /* background-color: violet; */
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.project-container .project-wrapper .project-card .project-desc div{
display: flex;
justify-content: space-around;
align-items: center;
}

.project-container .project-wrapper .project-card .project-desc label{
    font-size: 1.5vw;
    font-family: apercu, sans-serif;
    font-weight: 400;
    color: #F1F6F9;
    margin-bottom: 0.5vw;
}

.project-container .project-wrapper .project-card .project-desc span{
    font-size: 1vw;
    font-family: apercu, sans-serif;
    font-weight: 400;
    color: #F1F6F9;
}

.project-container .project-wrapper .project-card .project-desc section{
    /* background-color: aqua; */
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
}

.project-container .project-wrapper .project-card .project-desc button{
    height: 3vw;
    width: 3vw;
    border: 1px solid #8BF5FA;
}

.project-container .project-wrapper .project-card .project-desc button .icon{
    height: 1.5vw;
    width: 1.5vw;
    color: #8BF5FA;
}

.project-container .project-wrapper .project-card .project-desc button:hover{
    border: 1px solid black;
    background-color: #8BF5FA;
    transition: 0.3s ease-in-out all;
}

.project-container .project-wrapper .project-card .project-desc button:hover .icon{
    color: black;
}

/* laptop 1440 */
@media only screen and (max-width: 1025px){
    .project-container{
        margin-bottom: 3vw;
        /* margin-top: 3vw; */
        /* background-color: aqua; */
        display: flex;
        justify-content: space-around;
        align-items: center;
        min-height: 120vh;
    }
    
    .project-container .project-wrapper{
        width: 97vw;
        /* background-color: tomato; */
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        min-height: 120vh;
    }
    
    .project-container .project-wrapper .project-card{
        background-color: #27374D;
        width:29vw;
        height: 50vh;
        border-radius: 10px;
        /* margin: 3vw; */
        margin: 3vw 1.5vw;
        box-shadow: 0px 0px 25px #888888;
    }
    
    .project-container .project-wrapper .project-card .project-img{
        /* background-color: yellow; */
        border-radius: 14px 14px 0px 0px;
        height: 67%;
    }
    
    .project-container .project-wrapper .project-card .project-img img{
        height: 100%;
        width: 100%;
        border-radius: 10px 10px 0px 0px;
    }
    
    .project-container .project-wrapper .project-card .project-logo{
        background-color: #27374D;
        height: 11vh;
        width: 7vw;
        margin-top: -4.5vw;
        margin-left: 2vw;
        border-radius: 8px;
        border: 3px solid #8BF5FA;
    }
    
    .project-container .project-wrapper .project-card .project-desc{
        /* background-color: violet; */
        width: 100%;
        height: 20%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    .project-container .project-wrapper .project-card .project-desc div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    }
    
    .project-container .project-wrapper .project-card .project-desc label{
        font-size: 1.8vw;
        font-family: apercu, sans-serif;
        font-weight: 400;
        color: #F1F6F9;
        margin-bottom: 0.5vw;
    }
    
    .project-container .project-wrapper .project-card .project-desc span{
        font-size: 1.3vw;
        font-family: apercu, sans-serif;
        font-weight: 400;
        color: #F1F6F9;
    }
    
    .project-container .project-wrapper .project-card .project-desc section{
        /* background-color: aqua; */
        width: 75%;
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        flex-direction: column;
    }
    
    .project-container .project-wrapper .project-card .project-desc button{
        height: 4vw;
        width: 4vw;
        border: 1px solid #8BF5FA;
    }
    
    .project-container .project-wrapper .project-card .project-desc button .icon{
        height: 2vw;
        width: 2vw;
        color: #8BF5FA;
    }
}

@media only screen and (max-width: 769px){
    .project-container{
        margin-bottom: 3vw;
        /* margin-top: 3vw; */
        /* background-color: aqua; */
        display: flex;
        justify-content: space-around;
        align-items: center;
        min-height: 120vh;
    }
    
    .project-container .project-wrapper{
        width: 97vw;
        /* background-color: tomato; */
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        min-height: 120vh;
    }
    
    .project-container .project-wrapper .project-card{
        background-color: #27374D;
        width:42vw;
        height: 51vh;
        border-radius: 10px;
        /* margin: 3vw; */
        margin: 3vw 3vw;
        box-shadow: 0px 0px 25px #888888;
    }
    
    .project-container .project-wrapper .project-card .project-img{
        /* background-color: yellow; */
        border-radius: 14px 14px 0px 0px;
        height: 67%;
    }
    
    .project-container .project-wrapper .project-card .project-img img{
        height: 100%;
        width: 100%;
        border-radius: 10px 10px 0px 0px;
    }
    
    .project-container .project-wrapper .project-card .project-logo{
        background-color: #27374D;
        height: 11vh;
        width: 9.5vw;
        margin-top: -6vw;
        margin-left: 2vw;
        border-radius: 8px;
        border: 3px solid #8BF5FA;
    }
    
    .project-container .project-wrapper .project-card .project-desc{
        /* background-color: violet; */
        width: 100%;
        height: 20%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    .project-container .project-wrapper .project-card .project-desc div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    }
    
    .project-container .project-wrapper .project-card .project-desc label{
        font-size: 2.3vw;
        font-family: apercu, sans-serif;
        font-weight: 400;
        color: #F1F6F9;
        margin-bottom: 0.5vw;
    }
    
    .project-container .project-wrapper .project-card .project-desc span{
        font-size: 1.6vw;
        font-family: apercu, sans-serif;
        font-weight: 400;
        color: #F1F6F9;
    }
    
    .project-container .project-wrapper .project-card .project-desc section{
        /* background-color: aqua; */
        width: 80%;
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        flex-direction: column;
    }
    
    .project-container .project-wrapper .project-card .project-desc button{
        height: 5vw;
        width: 5vw;
        border: 1px solid #8BF5FA;
    }
    
    .project-container .project-wrapper .project-card .project-desc button .icon{
        height: 2.3vw;
        width: 2.3vw;
        color: #8BF5FA;
    }
}

@media only screen and (max-width: 426px){
    .project-container{
        margin-bottom: 3vw;
        /* margin-top: 3vw; */
        /* background-color: aqua; */
        display: flex;
        justify-content: space-around;
        align-items: center;
        min-height: 120vh;
    }
    
    .project-container .project-wrapper{
        width: 97vw;
        /* background-color: tomato; */
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        min-height: 120vh;
    }
    
    .project-container .project-wrapper .project-card{
        background-color: #27374D;
        width: 85vw;
        height: 60vh;
        border-radius: 10px;
        /* margin: 3vw; */
        margin: 3vw 3vw;
        box-shadow: 0px 0px 25px #888888;
    }
    
    .project-container .project-wrapper .project-card .project-img{
        /* background-color: yellow; */
        border-radius: 14px 14px 0px 0px;
        height: 67%;
    }
    
    .project-container .project-wrapper .project-card .project-img img{
        height: 100%;
        width: 100%;
        border-radius: 10px 10px 0px 0px;
    }
    
    .project-container .project-wrapper .project-card .project-logo{
        background-color: #27374D;
        height: 12vh;
        width: 18vw;
        margin-top: -12vw;
        margin-left: 7vw;
        border-radius: 8px;
        border: 3px solid #8BF5FA;
    }
    
    .project-container .project-wrapper .project-card .project-desc{
        /* background-color: violet; */
        width: 100%;
        height: 20%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    .project-container .project-wrapper .project-card .project-desc div{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    .project-container .project-wrapper .project-card .project-desc label{
        font-size: 4.5vw;
        font-family: apercu, sans-serif;
        font-weight: 400;
        color: #F1F6F9;
        margin-bottom: 0.5vw;
    }
    
    .project-container .project-wrapper .project-card .project-desc span{
        font-size: 3vw;
        font-family: apercu, sans-serif;
        font-weight: 400;
        color: #F1F6F9;
    }
    
    .project-container .project-wrapper .project-card .project-desc section{
        /* background-color: aqua; */
        width: 65vw;
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        flex-direction: column;
    }
    
    .project-container .project-wrapper .project-card .project-desc button{
        height: 10vw;
        width: 10vw;
        border: 1px solid #8BF5FA;
    }
    
    .project-container .project-wrapper .project-card .project-desc button .icon{
        height: 4vw;
        width: 4vw;
        color: #8BF5FA;
    }
}

@media only screen and (max-width: 376px){
    .project-container{
        margin-bottom: 3vw;
        /* margin-top: 3vw; */
        /* background-color: aqua; */
        display: flex;
        justify-content: space-around;
        align-items: center;
        min-height: 120vh;
    }
    
    .project-container .project-wrapper{
        width: 97vw;
        /* background-color: tomato; */
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        min-height: 120vh;
    }
    
    .project-container .project-wrapper .project-card{
        background-color: #27374D;
        width: 85vw;
        height: 55vh;
        border-radius: 10px;
        /* margin: 3vw; */
        margin: 4vw 3vw;
        box-shadow: 0px 0px 25px #888888;
    }
    
    .project-container .project-wrapper .project-card .project-img{
        /* background-color: yellow; */
        border-radius: 14px 14px 0px 0px;
        height: 67%;
    }
    
    .project-container .project-wrapper .project-card .project-img img{
        height: 100%;
        width: 100%;
        border-radius: 10px 10px 0px 0px;
    }
    
    .project-container .project-wrapper .project-card .project-logo{
        background-color: #27374D;
        height: 12vh;
        width: 20vw;
        margin-top: -12vw;
        margin-left: 7vw;
        border-radius: 8px;
        border: 3px solid #8BF5FA;
    }
    
    .project-container .project-wrapper .project-card .project-desc{
        /* background-color: violet; */
        width: 100%;
        height: 20%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    .project-container .project-wrapper .project-card .project-desc div{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    .project-container .project-wrapper .project-card .project-desc label{
        font-size: 4.5vw;
        font-family: apercu, sans-serif;
        font-weight: 400;
        color: #F1F6F9;
        margin-bottom: 0.5vw;
    }
    
    .project-container .project-wrapper .project-card .project-desc span{
        font-size: 3vw;
        font-family: apercu, sans-serif;
        font-weight: 400;
        color: #F1F6F9;
    }
    
    .project-container .project-wrapper .project-card .project-desc section{
        /* background-color: aqua; */
        width: 65vw;
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        flex-direction: column;
    }
    
    .project-container .project-wrapper .project-card .project-desc button{
        height: 10vw;
        width: 10vw;
        border: 1px solid #8BF5FA;
    }
    
    .project-container .project-wrapper .project-card .project-desc button .icon{
        height: 4vw;
        width: 4vw;
        color: #8BF5FA;
    }
}

@media only screen and (min-width: 390px) and (max-width: 420px){
    .project-container{
        margin-bottom: 3vw;
        /* margin-top: 3vw; */
        /* background-color: aqua; */
        display: flex;
        justify-content: space-around;
        align-items: center;
        min-height: 120vh;
    }
    
    .project-container .project-wrapper{
        width: 97vw;
        /* background-color: tomato; */
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        min-height: 120vh;
    }
    
    .project-container .project-wrapper .project-card{
        background-color: #27374D;
        width: 90vw;
        height: 44vh;
        border-radius: 10px;
        /* margin: 3vw; */
        margin: 4vw 3vw;
        box-shadow: 0px 0px 25px #888888;
    }
    
    .project-container .project-wrapper .project-card .project-img{
        /* background-color: yellow; */
        border-radius: 14px 14px 0px 0px;
        height: 67%;
    }
    
    .project-container .project-wrapper .project-card .project-img img{
        height: 100%;
        width: 100%;
        border-radius: 10px 10px 0px 0px;
    }
    
    .project-container .project-wrapper .project-card .project-logo{
        background-color: #27374D;
        height: 9vh;
        width: 20vw;
        margin-top: -12vw;
        margin-left: 7vw;
        border-radius: 8px;
        border: 3px solid #8BF5FA;
    }
    
    .project-container .project-wrapper .project-card .project-desc{
        /* background-color: violet; */
        width: 100%;
        height: 20%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    .project-container .project-wrapper .project-card .project-desc div{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    .project-container .project-wrapper .project-card .project-desc label{
        font-size: 4.5vw;
        font-family: apercu, sans-serif;
        font-weight: 400;
        color: #F1F6F9;
        margin-bottom: 0.5vw;
    }
    
    .project-container .project-wrapper .project-card .project-desc span{
        font-size: 3vw;
        font-family: apercu, sans-serif;
        font-weight: 400;
        color: #F1F6F9;
    }
    
    .project-container .project-wrapper .project-card .project-desc section{
        /* background-color: aqua; */
        width: 65vw;
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        flex-direction: column;
    }
    
    .project-container .project-wrapper .project-card .project-desc button{
        height: 10vw;
        width: 10vw;
        border: 1px solid #8BF5FA;
    }
    
    .project-container .project-wrapper .project-card .project-desc button .icon{
        height: 4vw;
        width: 4vw;
        color: #8BF5FA;
    }
}

@media only screen and (min-width: 360px) and (max-width: 390px){
    .project-container{
        margin-bottom: 3vw;
        /* margin-top: 3vw; */
        /* background-color: aqua; */
        display: flex;
        justify-content: space-around;
        align-items: center;
        min-height: 120vh;
    }
    
    .project-container .project-wrapper{
        width: 97vw;
        /* background-color: tomato; */
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        min-height: 120vh;
    }
    
    .project-container .project-wrapper .project-card{
        background-color: #27374D;
        width: 90vw;
        height: 44vh;
        border-radius: 10px;
        /* margin: 3vw; */
        margin: 4vw 3vw;
        box-shadow: 0px 0px 25px #888888;
    }
    
    .project-container .project-wrapper .project-card .project-img{
        /* background-color: yellow; */
        border-radius: 14px 14px 0px 0px;
        height: 67%;
    }
    
    .project-container .project-wrapper .project-card .project-img img{
        height: 100%;
        width: 100%;
        border-radius: 10px 10px 0px 0px;
    }
    
    .project-container .project-wrapper .project-card .project-logo{
        background-color: #27374D;
        height: 9vh;
        width: 20vw;
        margin-top: -12vw;
        margin-left: 7vw;
        border-radius: 8px;
        border: 3px solid #8BF5FA;
    }
    
    .project-container .project-wrapper .project-card .project-desc{
        /* background-color: violet; */
        width: 100%;
        height: 20%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    .project-container .project-wrapper .project-card .project-desc div{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    .project-container .project-wrapper .project-card .project-desc label{
        font-size: 4.5vw;
        font-family: apercu, sans-serif;
        font-weight: 400;
        color: #F1F6F9;
        margin-bottom: 0.5vw;
    }
    
    .project-container .project-wrapper .project-card .project-desc span{
        font-size: 3vw;
        font-family: apercu, sans-serif;
        font-weight: 400;
        color: #F1F6F9;
    }
    
    .project-container .project-wrapper .project-card .project-desc section{
        /* background-color: aqua; */
        width: 65vw;
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        flex-direction: column;
    }
    
    .project-container .project-wrapper .project-card .project-desc button{
        height: 10vw;
        width: 10vw;
        border: 1px solid #8BF5FA;
    }
    
    .project-container .project-wrapper .project-card .project-desc button .icon{
        height: 4vw;
        width: 4vw;
        color: #8BF5FA;
    }
}




@media only screen and (max-width: 321px){
    .project-container{
        margin-bottom: 3vw;
        /* margin-top: 3vw; */
        /* background-color: aqua; */
        display: flex;
        justify-content: space-around;
        align-items: center;
        min-height: 120vh;
    }
    
    .project-container .project-wrapper{
        width: 97vw;
        /* background-color: tomato; */
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        min-height: 120vh;
    }
    
    .project-container .project-wrapper .project-card{
        background-color: #27374D;
        width: 85vw;
        height: 45vh;
        border-radius: 10px;
        /* margin: 3vw; */
        margin: 4vw 3vw;
        box-shadow: 0px 0px 25px #888888;
    }
    
    .project-container .project-wrapper .project-card .project-img{
        /* background-color: yellow; */
        border-radius: 14px 14px 0px 0px;
        height: 67%;
    }
    
    .project-container .project-wrapper .project-card .project-img img{
        height: 100%;
        width: 100%;
        border-radius: 10px 10px 0px 0px;
    }
    
    .project-container .project-wrapper .project-card .project-logo{
        background-color: #27374D;
        height: 10vh;
        width: 20vw;
        margin-top: -12vw;
        margin-left: 7vw;
        border-radius: 8px;
        border: 3px solid #8BF5FA;
    }
    
    .project-container .project-wrapper .project-card .project-desc{
        /* background-color: violet; */
        width: 100%;
        height: 20%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    .project-container .project-wrapper .project-card .project-desc div{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    .project-container .project-wrapper .project-card .project-desc label{
        font-size: 4.5vw;
        font-family: apercu, sans-serif;
        font-weight: 400;
        color: #F1F6F9;
        margin-bottom: 0.5vw;
    }
    
    .project-container .project-wrapper .project-card .project-desc span{
        font-size: 3vw;
        font-family: apercu, sans-serif;
        font-weight: 400;
        color: #F1F6F9;
    }
    
    .project-container .project-wrapper .project-card .project-desc section{
        /* background-color: aqua; */
        width: 65vw;
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        flex-direction: column;
    }
    
    .project-container .project-wrapper .project-card .project-desc button{
        height: 10vw;
        width: 10vw;
        border: 1px solid #8BF5FA;
    }
    
    .project-container .project-wrapper .project-card .project-desc button .icon{
        height: 4vw;
        width: 4vw;
        color: #8BF5FA;
    }
}