.view-project-container{
    background-color: #F1F6F9;
    /* max-height: 200vh; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.view-project-container .project-wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.view-project-container .project-slider{
    margin-top: 1vw;
    /* background-color: yellow; */
    width: 97vw;
    height: 30vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.view-project-container .project-slider section{
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95vw;
    height: 30vh;
}

.view-project-container .project-slider section .title{
    background-color: #27374D;
    height: 29vh;
    width: 15vw;
    text-transform: uppercase;
    /* padding: 1vw; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 4vw;
    text-align: center;
    border-radius: 5px;
    font-weight: 500;
    font-family: apercu, sans-serif;
    color: #8BF5FA;
    box-shadow: 0px 0px 30px #888888;
}

.view-project-container .project-slider section .project-logo{
    background-color: turquoise;
    height: 29vh;
    width: 15vw;
    border-radius: 5px;
    box-shadow: 0px 0px 30px #888888;
}
.view-project-container .project-slider section .project-logo img{
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

.view-project-container .project-slider section .project-short-description{
    background-color: #27374D;
    color: #8BF5FA;
    height: 29vh;
    width: 25vw;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    font-size: 2vw;
    border-radius: 5px;
    font-weight: 300;
    box-shadow: 0px 0px 30px #888888;
}
.view-project-container .project-slider section .project-stack{
    background-color: #8BF5FA;
    height: 28.5vh;
    width: 28.5vw;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 5px;
    box-shadow: 0px 0px 30px #888888;
    border: 2px solid black;
}

.view-project-container .project-slider section .project-stack .tech{
    color: #8BF5FA;
    border: 2px solid white;
    background-color: black;
    margin: 0.5vw;
    height: 3vw;
    width: 8vw;
    border-radius: 5px;
    text-transform: uppercase;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.view-project-container .project-img{
    margin-top: 2.5vw;
    height: 130vh;
    width: 98vw;
    border-radius: 5px;
    /* background-color: #C9A7EB; */
}

.view-project-container .project-img section{
    height: 130vh;
    width: 98vw;
    display: flex;
    flex-wrap: wrap;
}

.view-project-container .project-img section .img-content{
    height: 65vh;
    width: 49vw;
    /* background-color: turquoise; */
}

.view-project-container .project-img section img{
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

.view-project-container .link-desc-wrapper .project-description{
    background-color: #8BF5FA;
    width: 50vw;
    height: 30vw;
    padding: 0.5vw 2vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.3vw;
    border-radius: 35px;
    box-shadow: 0px 0px 25px #888888;
}

.view-project-container .link-desc-wrapper .project-links{
    background-color: white;
    width: 25vw;
    height: 31vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border: 2px solid #134E5E;
    box-shadow: 0px 0px 25px #888888;
    border-radius: 35px;
}

.view-project-container .project-links button{
    background-color: #27374D;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 23vw;
    height: 6vw;
    border-radius: 3px;
    box-shadow: 0px 0px 25px #888888;
    border: 2px solid #8BF5FA;
}

.view-project-container .project-links .link{
    background-color: #8BF5FA;
    border-radius: 3px;
    height: 10vh;
    width: 5vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.view-project-container .project-links .link .icon{
    height: 2.5vw;
    width: 2.5vw;
    color: black;
}

.view-project-container .project-links .icon-text{
    /* background-color: aqua; */
    height: 10vh;
    width: 15vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
    font-size: 1.3vw;
    color: #8BF5FA;
}

.view-project-container .project-links button:hover{
    background-color: #8BF5FA;
    border: 2px solid black;
    transition: 0.2s ease-in-out all;
}

.view-project-container .project-links button:hover > .link{
    background-color: black;
}

.view-project-container .project-links button:hover > .link .icon{
    color: white;
}

.view-project-container .project-links button:hover > .icon-text{
    color: black;
}

.link-desc-wrapper{
    margin-top: 2.5vw;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90vw;
    margin-bottom: 2vw;
}

@media only screen and (max-width:1025px) {
    .view-project-container{
        background-color: #F1F6F9;
        /* max-height: 200vh; */
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    .view-project-container .project-wrapper{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
    }
    
    .view-project-container .project-slider{
        margin-top: 1vw;
        /* background-color: yellow; */
        width: 97vw;
        height: 30vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    .view-project-container .project-slider section{
        /* background-color: aqua; */
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 97vw;
        height: 30vh;
    }
    
    .view-project-container .project-slider section .title{
        background-color: #27374D;
        height: 25vh;
        width: 16vw;
        text-transform: uppercase;
        /* padding: 1vw; */
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 3vw;
        text-align: center;
        border-radius: 5px;
        font-weight: 500;
        font-family: apercu, sans-serif;
        color: #8BF5FA;
        box-shadow: 0px 0px 30px #888888;
    }
    
    .view-project-container .project-slider section .project-logo{
        background-color: turquoise;
        height: 25vh;
        width: 16vw;
        border-radius: 5px;
        box-shadow: 0px 0px 30px #888888;
    }
    .view-project-container .project-slider section .project-logo img{
        height: 100%;
        width: 100%;
        border-radius: 5px;
    }
    
    .view-project-container .project-slider section .project-short-description{
        background-color: #27374D;
        color: #8BF5FA;
        height: 25vh;
        width: 25vw;
        text-align: center;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        font-size: 1.5vw;
        border-radius: 5px;
        font-weight: 500;
        box-shadow: 0px 0px 30px #888888;
    }
    .view-project-container .project-slider section .project-stack{
        background-color: #8BF5FA;
        height: 24.5vh;
        width: 30.5vw;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        border-radius: 5px;
        box-shadow: 0px 0px 30px #888888;
        border: 2px solid black;
    }
    
    .view-project-container .project-slider section .project-stack .tech{
        color: #8BF5FA;
        border: 2px solid white;
        background-color: black;
        margin: 0.5vw;
        height: 3vw;
        width: 8vw;
        border-radius: 5px;
        text-transform: uppercase;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 1vw;
        font-weight: 500;
    }
    
    .view-project-container .project-img{
        margin-top: 2.5vw;
        height: 110vh;
        width: 98vw;
        border-radius: 10px;
        /* background-color: blue; */
    }
    
    .view-project-container .project-img section{
        height: 110vh;
        width: 98vw;
        display: flex;
        flex-wrap: wrap;
    }
    
    .view-project-container .project-img section .img-content{
        height: 55vh;
        width: 49vw;
        /* background-color: turquoise; */
    }
    
    .view-project-container .project-img section img{
        height: 100%;
        width: 100%;
        border-radius: 10px;
    }

    .link-desc-wrapper{
        margin-top: 2.5vw;
        /* background-color: aqua; */
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 95vw;
        margin-bottom: 2vw;
    }
    
    .view-project-container .link-desc-wrapper .project-description{
        background-color: #8BF5FA;
        width: 55vw;
        height: 30vw;
        padding: 0.5vw 2vw;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 1.8vw;
        border-radius: 35px;
        box-shadow: 0px 0px 25px #888888;
    }
    
    .view-project-container .link-desc-wrapper .project-links{
        background-color: white;
        width: 28vw;
        height: 31vw;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        border: 2px solid #134E5E;
        box-shadow: 0px 0px 25px #888888;
        border-radius: 35px;
    }
    
    .view-project-container .project-links button{
        background-color: #27374D;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 25vw;
        height: 7vw;
        border-radius: 3px;
        box-shadow: 0px 0px 25px #888888;
        border: 2px solid #8BF5FA;
    }
    
    .view-project-container .project-links .link{
        background-color: #8BF5FA;
        border-radius: 3px;
        height: 9vh;
        width: 6vw;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    .view-project-container .project-links .link .icon{
        height: 2.3vw;
        width: 2.3vw;
        color: black;
    }
    
    .view-project-container .project-links .icon-text{
        /* background-color: aqua; */
        height: 10vh;
        width: 15vw;
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-transform: uppercase;
        font-size: 1.3vw;
        color: #8BF5FA;
    }
    
    .view-project-container .project-links button:hover{
        background-color: #8BF5FA;
        border: 2px solid black;
        transition: 0.2s ease-in-out all;
    }
    
    .view-project-container .project-links button:hover > .link{
        background-color: black;
    }
    
    .view-project-container .project-links button:hover > .link .icon{
        color: white;
    }
    
    .view-project-container .project-links button:hover > .icon-text{
        color: black;
    }
    
    
}

@media only screen and (max-width: 769px) {
    .view-project-container{
        background-color: #F1F6F9;
        /* max-height: 200vh; */
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    .view-project-container .project-wrapper{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
    }
    
    .view-project-container .project-slider{
        margin-top: 1vw;
        /* background-color: yellow; */
        width: 99vw;
        height: 75vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
        overflow-x: auto;
    }
    
    .view-project-container .project-slider section{
        /* background-color: aqua; */
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        width: 98vw;
        height: 75vh;
    }
    
    .view-project-container .project-slider section .title{
        background-color: #27374D;
        height: 22vh;
        width: 18vw;
        text-transform: uppercase;
        /* padding: 1vw; */
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        font-size: 3vw;
        text-align: center;
        border-radius: 5px;
        font-weight: 500;
        font-family: apercu, sans-serif;
        color: #8BF5FA;
        box-shadow: 0px 0px 30px #888888;
    }
    
    .view-project-container .project-slider section .project-logo{
        background-color: turquoise;
        height: 22vh;
        width: 18vw;
        border-radius: 5px;
        box-shadow: 0px 0px 30px #888888;
    }
    .view-project-container .project-slider section .project-logo img{
        height: 100%;
        width: 100%;
        border-radius: 5px;
    }
    
    .view-project-container .project-slider section .project-short-description{
        background-color: #27374D;
        color: #8BF5FA;
        height: 22vh;
        width: 53vw;
        text-align: center;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        font-size: 2.3vw;
        border-radius: 5px;
        font-weight: 400;
        box-shadow: 0px 0px 30px #888888;
    }
    .view-project-container .project-slider section .project-stack{
        background-color: #8BF5FA;
        height: 30.5vh;
        width: 95vw;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        border-radius: 5px;
        box-shadow: 0px 0px 30px #888888;
        border: 2px solid black;
    }
    
    .view-project-container .project-slider section .project-stack .tech{
        color: #8BF5FA;
        border: 2px solid white;
        background-color: black;
        margin: 0.5vw;
        height: 6vw;
        width: 18vw;
        border-radius: 5px;
        text-transform: uppercase;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 2vw;
        font-weight: 500;
    }
    
    .view-project-container .project-img{
        margin-top: 2.5vw;
        height: 90vh;
        width: 98vw;
        border-radius: 10px;
        /* background-color: blue; */
    }
    
    .view-project-container .project-img section{
        height: 90vh;
        width: 98vw;
        display: flex;
        flex-wrap: wrap;
    }
    
    .view-project-container .project-img section .img-content{
        height: 45vh;
        width: 49vw;
        /* background-color: turquoise; */
    }
    
    .view-project-container .project-img section img{
        height: 100%;
        width: 100%;
        border-radius: 10px;
    }

    .link-desc-wrapper{
        margin-top: 5vw;
        /* background-color: aqua; */
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 95vw;
        margin-bottom: 4vw;
    }
    
    .view-project-container .link-desc-wrapper .project-description{
        background-color: #8BF5FA;
        width: 50vw;
        height: 30vw;
        padding: 0.5vw 2vw;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 1.8vw;
        border-radius: 35px;
        box-shadow: 0px 0px 25px #888888;
    }
    
    .view-project-container .link-desc-wrapper .project-links{
        background-color: white;
        width: 31vw;
        height: 31vw;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        border: 2px solid #134E5E;
        box-shadow: 0px 0px 25px #888888;
        border-radius: 35px;
    }
    
    .view-project-container .project-links button{
        background-color: #27374D;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 25vw;
        height: 8vw;
        border-radius: 3px;
        box-shadow: 0px 0px 25px #888888;
        border: 2px solid #8BF5FA;
    }
    
    .view-project-container .project-links .link{
        background-color: #8BF5FA;
        border-radius: 3px;
        height: 7vh;
        width: 6vw;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    .view-project-container .project-links .link .icon{
        height: 2.3vw;
        width: 2.3vw;
        color: black;
    }
    
    .view-project-container .project-links .icon-text{
        /* background-color: aqua; */
        height: 6vh;
        width: 17vw;
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-transform: uppercase;
        font-size: 1.5vw;
        color: #8BF5FA;
    }
    
    .view-project-container .project-links button:hover{
        background-color: #8BF5FA;
        border: 2px solid black;
        transition: 0.2s ease-in-out all;
    }
    
    .view-project-container .project-links button:hover > .link{
        background-color: black;
    }
    
    .view-project-container .project-links button:hover > .link .icon{
        color: white;
    }
    
    .view-project-container .project-links button:hover > .icon-text{
        color: black;
    }
    
    
}

@media only screen and (max-width: 426px) {
    .view-project-container{
        background-color: #F1F6F9;
        /* max-height: 200vh; */
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    .view-project-container .project-wrapper{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    
    .view-project-container .project-slider{
        margin-top: 1vw;
        /* background-color: yellow; */
        width: 95vw;
        height: 90vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    .view-project-container .project-slider section{
        /* background-color: aqua; */
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        width: 95vw;
        height: 90vh;
    }
    
    .view-project-container .project-slider section .title{
        background-color: #27374D;
        height: 23vh;
        width: 35vw;
        text-transform: uppercase;
        /* padding: 1vw; */
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        font-size: 5vw;
        text-align: center;
        border-radius: 5px;
        font-weight: 500;
        font-family: apercu, sans-serif;
        color: #8BF5FA;
        box-shadow: 0px 0px 15px #888888;
    }
    
    .view-project-container .project-slider section .project-logo{
        background-color: turquoise;
        height: 23vh;
        width: 35vw;
        border-radius: 5px;
        box-shadow: 0px 0px 15px #888888;
    }
    .view-project-container .project-slider section .project-logo img{
        height: 100%;
        width: 100%;
        border-radius: 5px;
    }
    
    .view-project-container .project-slider section .project-short-description{
        background-color: #27374D;
        color: #8BF5FA;
        height: 25vh;
        width: 95vw;
        text-align: center;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        font-size: 3.5vw;
        border-radius: 5px;
        font-weight: 400;
        box-shadow: 0px 0px 15px #888888;
    }
    .view-project-container .project-slider section .project-stack{
        background-color: #8BF5FA;
        height: 30.5vh;
        width: 95vw;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        border-radius: 5px;
        box-shadow: 0px 0px 15px #888888;
        border: 2px solid black;
    }
    
    .view-project-container .project-slider section .project-stack .tech{
        color: #8BF5FA;
        border: 2px solid white;
        background-color: black;
        margin: 0.8vw;
        height: 8.5vw;
        width: 19.5vw;
        border-radius: 5px;
        text-transform: uppercase;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 2.3vw;
        font-weight: 500;
    }
    
    .view-project-container .project-img{
        margin-top: 2.5vw;
        height: 140vh;
        width: 98vw;
        border-radius: 10px;
        /* background-color: blue; */
    }
    
    .view-project-container .project-img section{
        height: 140vh;
        width: 98vw;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
    }
    
    .view-project-container .project-img section .img-content{
        height: 45vh;
        width: 98vw;
        /* background-color: turquoise; */
    }
    
    .view-project-container .project-img section img{
        height: 100%;
        width: 100%;
        border-radius: 10px;
    }

    .link-desc-wrapper{
        margin-top: 50vw;
        /* background-color: aqua; */
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        width: 95vw;
        margin-bottom: 4vw;
        height: 120vw;
    }
    
    .view-project-container .link-desc-wrapper .project-description{
        background-color: #8BF5FA;
        width: 88vw;
        height: 55vw;
        padding: 0.5vw 3.5vw;
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: justify;
        font-size: 3.5vw;
        font-weight: 400;
        border-radius: 35px;
        box-shadow: 0px 0px 10px #888888;
    }
    
    .view-project-container .link-desc-wrapper .project-links{
        background-color: white;
        width: 94vw;
        height: 50vw;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        border: 2px solid #134E5E;
        box-shadow: 0px 0px 10px #888888;
        border-radius: 35px;
    }
    
    .view-project-container .project-links button{
        background-color: #27374D;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 44vw;
        height: 16vw;
        border-radius: 3px;
        box-shadow: 0px 0px 25px #888888;
        border: 2px solid #8BF5FA;
        margin: 0vw 0.5vw;
    }
    
    .view-project-container .project-links .link{
        background-color: #8BF5FA;
        border-radius: 3px;
        height: 9vh;
        width: 13vw;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    .view-project-container .project-links .link .icon{
        height: 6vw;
        width: 6vw;
        color: black;
    }
    
    .view-project-container .project-links .icon-text{
        /* background-color: aqua; */
        height: 9vh;
        width: 27vw;
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-transform: uppercase;
        font-size: 3vw;
        color: #8BF5FA;
    }
    
    .view-project-container .project-links button:hover{
        background-color: #8BF5FA;
        border: 2px solid black;
        transition: 0.2s ease-in-out all;
    }
    
    .view-project-container .project-links button:hover > .link{
        background-color: black;
    }
    
    .view-project-container .project-links button:hover > .link .icon{
        color: white;
    }
    
    .view-project-container .project-links button:hover > .icon-text{
        color: black;
    }
    
    
}

@media only screen and (min-width: 390px) and (max-width: 420px) {
    .view-project-container{
        background-color: #F1F6F9;
        /* max-height: 200vh; */
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    .view-project-container .project-wrapper{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    
    .view-project-container .project-slider{
        margin-top: 1vw;
        /* background-color: yellow; */
        width: 95vw;
        height: 90vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    .view-project-container .project-slider section{
        /* background-color: aqua; */
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        width: 95vw;
        height: 90vh;
    }
    
    .view-project-container .project-slider section .title{
        background-color: #27374D;
        height: 18vh;
        width: 40vw;
        text-transform: uppercase;
        /* padding: 1vw; */
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        font-size: 7vw;
        text-align: center;
        border-radius: 5px;
        font-weight: 500;
        font-family: apercu, sans-serif;
        color: #8BF5FA;
        box-shadow: 0px 0px 15px #888888;
    }
    
    .view-project-container .project-slider section .project-logo{
        background-color: turquoise;
        height: 18vh;
        width: 40vw;
        border-radius: 5px;
        box-shadow: 0px 0px 15px #888888;
    }
    .view-project-container .project-slider section .project-logo img{
        height: 100%;
        width: 100%;
        border-radius: 5px;
    }
    
    .view-project-container .project-slider section .project-short-description{
        background-color: #27374D;
        color: #8BF5FA;
        height: 25vh;
        width: 95vw;
        text-align: center;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        font-size: 4.5vw;
        border-radius: 5px;
        font-weight: 400;
        box-shadow: 0px 0px 15px #888888;
    }
    .view-project-container .project-slider section .project-stack{
        background-color: #8BF5FA;
        height: 33.5vh;
        width: 95vw;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        border-radius: 5px;
        box-shadow: 0px 0px 15px #888888;
        border: 2px solid black;
    }
    
    .view-project-container .project-slider section .project-stack .tech{
        color: #8BF5FA;
        border: 2px solid white;
        background-color: black;
        margin: 0.8vw;
        height: 12.5vw;
        width: 30.5vw;
        border-radius: 5px;
        text-transform: uppercase;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 3.3vw;
        font-weight: 500;
    }
    
    .view-project-container .project-img{
        margin-top: 2.5vw;
        height: 140vh;
        width: 98vw;
        border-radius: 10px;
        /* background-color: blue; */
    }
    
    .view-project-container .project-img section{
        height: 140vh;
        width: 98vw;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        /* background-color: violet; */
    }
    
    .view-project-container .project-img section .img-content{
        height: 45vh;
        width: 98vw;
        /* background-color: turquoise; */
    }
    
    .view-project-container .project-img section img{
        height: 100%;
        width: 100%;
        border-radius: 10px;
    }

    .link-desc-wrapper{
        margin-top: 3vw;
        /* background-color: aqua; */
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        width: 95vw;
        margin-bottom: 8vw;
        height: 90vh;
    }
    
    .view-project-container .link-desc-wrapper .project-description{
        background-color: #8BF5FA;
        width: 88vw;
        height: 80vw;
        padding: 0vw 3.5vw;
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: justify;
        font-size: 3.8vw;
        font-weight: 500;
        border-radius: 35px;
        box-shadow: 0px 0px 10px #888888;
        margin: 6vw 0vw;
    }
    
    .view-project-container .link-desc-wrapper .project-links{
        background-color: white;
        width: 94vw;
        height: 90vw;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        flex-wrap: nowrap;
        flex-direction: column;
        border: 2px solid #134E5E;
        box-shadow: 0px 0px 10px #888888;
        border-radius: 35px;
    }
    
    .view-project-container .project-links button{
        background-color: #27374D;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 75vw;
        height: 11vh;
        border-radius: 3px;
        box-shadow: 0px 0px 25px #888888;
        border: 2px solid #8BF5FA;
        margin: 0vw 0.5vw;
    }
    
    .view-project-container .project-links .link{
        background-color: #8BF5FA;
        border-radius: 3px;
        height: 8.5vh;
        width: 18vw;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    .view-project-container .project-links .link .icon{
        height: 6.5vw;
        width: 6.5vw;
        color: black;
    }
    
    .view-project-container .project-links .icon-text{
        /* background-color: aqua; */
        height: 7vh;
        width: 50vw;
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-transform: uppercase;
        font-size: 4vw;
        color: #8BF5FA;
    }
    
    .view-project-container .project-links button:hover{
        background-color: #8BF5FA;
        border: 2px solid black;
        transition: 0.2s ease-in-out all;
    }
    
    .view-project-container .project-links button:hover > .link{
        background-color: black;
    }
    
    .view-project-container .project-links button:hover > .link .icon{
        color: white;
    }
    
    .view-project-container .project-links button:hover > .icon-text{
        color: black;
    }
    
    
}

@media only screen and (max-width: 376px) {
    .view-project-container{
        background-color: #F1F6F9;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    .view-project-container .project-wrapper{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    
    .view-project-container .project-slider{
        margin-top: 1vw;
        /* background-color: yellow; */
        width: 95vw;
        height: 90vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    .view-project-container .project-slider section{
        /* background-color: aqua; */
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        width: 95vw;
        height: 90vh;
    }
    
    .view-project-container .project-slider section .title{
        background-color: #27374D;
        height: 23vh;
        width: 38vw;
        text-transform: uppercase;
        /* padding: 1vw; */
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        font-size: 5vw;
        text-align: center;
        border-radius: 5px;
        font-weight: 500;
        font-family: apercu, sans-serif;
        color: #8BF5FA;
        box-shadow: 0px 0px 15px #888888;
    }
    
    .view-project-container .project-slider section .project-logo{
        background-color: turquoise;
        height: 23vh;
        width: 38vw;
        border-radius: 5px;
        box-shadow: 0px 0px 15px #888888;
    }
    .view-project-container .project-slider section .project-logo img{
        height: 100%;
        width: 100%;
        border-radius: 5px;
    }
    
    .view-project-container .project-slider section .project-short-description{
        background-color: #27374D;
        color: #8BF5FA;
        height: 25vh;
        width: 95vw;
        text-align: center;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        font-size: 3.5vw;
        border-radius: 5px;
        font-weight: 400;
        box-shadow: 0px 0px 15px #888888;
    }
    .view-project-container .project-slider section .project-stack{
        background-color: #8BF5FA;
        height: 30.5vh;
        width: 95vw;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        border-radius: 5px;
        box-shadow: 0px 0px 15px #888888;
        border: 2px solid black;
    }
    
    .view-project-container .project-slider section .project-stack .tech{
        color: #8BF5FA;
        border: 2px solid white;
        background-color: black;
        margin: 0.8vw;
        height: 9.5vw;
        width: 20.5vw;
        border-radius: 5px;
        text-transform: uppercase;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 2.3vw;
        font-weight: 500;
    }
    
    .view-project-container .project-img{
        margin-top: 2.5vw;
        height: 150vh;
        width: 98vw;
        border-radius: 10px;
        /* background-color: blue; */
    }
    
    .view-project-container .project-img section{
        height: 150vh;
        width: 98vw;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        /* background-color: violet; */
    }
    
    .view-project-container .project-img section .img-content{
        height: 50vh;
        width: 98vw;
        /* background-color: turquoise; */
    }
    
    .view-project-container .project-img section img{
        height: 100%;
        width: 100%;
        border-radius: 10px;
    }

    .link-desc-wrapper{
        margin-top: 9vw;
        /* background-color: aqua; */
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        width: 95vw;
        margin-bottom: 4vw;
        height: 145vw;
    }
    
    .view-project-container .link-desc-wrapper .project-description{
        background-color: #8BF5FA;
        width: 88vw;
        height: 55vw;
        padding: 0.5vw 3.5vw;
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: justify;
        font-size: 3.5vw;
        font-weight: 400;
        border-radius: 35px;
        box-shadow: 0px 0px 10px #888888;
    }
    
    .view-project-container .link-desc-wrapper .project-links{
        background-color: white;
        width: 94vw;
        height: 80vw;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        flex-wrap: nowrap;
        flex-direction: column;
        border: 2px solid #134E5E;
        box-shadow: 0px 0px 10px #888888;
        border-radius: 35px;
    }
    
    .view-project-container .project-links button{
        background-color: #27374D;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 75vw;
        height: 18vw;
        border-radius: 3px;
        box-shadow: 0px 0px 25px #888888;
        border: 2px solid #8BF5FA;
        margin: 0vw 0.5vw;
    }
    
    .view-project-container .project-links .link{
        background-color: #8BF5FA;
        border-radius: 3px;
        height: 8.5vh;
        width: 18vw;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    .view-project-container .project-links .link .icon{
        height: 6.5vw;
        width: 6.5vw;
        color: black;
    }
    
    .view-project-container .project-links .icon-text{
        /* background-color: aqua; */
        height: 7vh;
        width: 50vw;
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-transform: uppercase;
        font-size: 4vw;
        color: #8BF5FA;
    }
    
    .view-project-container .project-links button:hover{
        background-color: #8BF5FA;
        border: 2px solid black;
        transition: 0.2s ease-in-out all;
    }
    
    .view-project-container .project-links button:hover > .link{
        background-color: black;
    }
    
    .view-project-container .project-links button:hover > .link .icon{
        color: white;
    }
    
    .view-project-container .project-links button:hover > .icon-text{
        color: black;
    }
    
    
}

@media only screen and (max-width: 321px) {
    .view-project-container{
        background-color: #F1F6F9;
        /* max-height: 200vh; */
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    .view-project-container .project-wrapper{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    
    .view-project-container .project-slider{
        margin-top: 1vw;
        /* background-color: yellow; */
        width: 98vw;
        height: 90vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    .view-project-container .project-slider section{
        /* background-color: aqua; */
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        width: 98vw;
        height: 90vh;
    }
    
    .view-project-container .project-slider section .title{
        background-color: #27374D;
        height: 21vh;
        width: 43vw;
        text-transform: uppercase;
        /* padding: 1vw; */
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        font-size: 7vw;
        text-align: center;
        border-radius: 5px;
        font-weight: 500;
        font-family: apercu, sans-serif;
        color: #8BF5FA;
        box-shadow: 0px 0px 10px #888888;
    }
    
    .view-project-container .project-slider section .project-logo{
        /* background-color: turquoise; */
        height: 21vh;
        width: 43vw;
        border-radius: 5px;
        box-shadow: 0px 0px 10px #888888;
    }
    .view-project-container .project-slider section .project-logo img{
        height: 100%;
        width: 100%;
        border-radius: 5px;
    }
    
    .view-project-container .project-slider section .project-short-description{
        background-color: #27374D;
        color: #8BF5FA;
        height: 25vh;
        width: 95vw;
        text-align: center;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        font-size: 4.5vw;
        border-radius: 5px;
        font-weight: 400;
        box-shadow: 0px 0px 10px #888888;
    }
    .view-project-container .project-slider section .project-stack{
        background-color: #8BF5FA;
        height: 33.5vh;
        width: 95vw;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        border-radius: 5px;
        box-shadow: 0px 0px 10px #888888;
        border: 2px solid black;
    }
    
    .view-project-container .project-slider section .project-stack .tech{
        color: #8BF5FA;
        border: 2px solid white;
        background-color: black;
        margin: 0.8vw;
        height: 12.5vw;
        width: 30.5vw;
        border-radius: 5px;
        text-transform: uppercase;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 3.3vw;
        font-weight: 500;
    }
    
    .view-project-container .project-img{
        margin-top: 2.5vw;
        height: 150vh;
        width: 98vw;
        border-radius: 10px;
        /* background-color: blue; */
    }
    
    .view-project-container .project-img section{
        height: 150vh;
        width: 98vw;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        /* background-color: violet; */
    }
    
    .view-project-container .project-img section .img-content{
        height: 50vh;
        width: 98vw;
        /* background-color: turquoise; */
    }
    
    .view-project-container .project-img section img{
        height: 100%;
        width: 100%;
        border-radius: 10px;
    }

    .link-desc-wrapper{
        margin-top: 6vw;
        /* background-color: aqua; */
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        width: 95vw;
        margin-bottom: 4vw;
        min-height: 180vw;
        max-height: 230vh;
    }
    
    .view-project-container .link-desc-wrapper .project-description{
        background-color: #8BF5FA;
        width: 88vw;
        height: 95vw;
        padding: 0.5vw 3.5vw;
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: justify;
        font-size: 4.5vw;
        font-weight: 400;
        border-radius: 35px;
        box-shadow: 0px 0px 10px #888888;
        margin: 6vw 0vw;
    }
    
    .view-project-container .link-desc-wrapper .project-links{
        background-color: white;
        width: 94vw;
        height: 90vw;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        flex-wrap: nowrap;
        flex-direction: column;
        border: 2px solid #134E5E;
        box-shadow: 0px 0px 10px #888888;
        border-radius: 35px;
    }
    
    .view-project-container .project-links button{
        background-color: #27374D;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 75vw;
        height: 11vh;
        border-radius: 3px;
        box-shadow: 0px 0px 25px #888888;
        border: 2px solid #8BF5FA;
        margin: 0vw 0.5vw;
    }
    
    .view-project-container .project-links .link{
        background-color: #8BF5FA;
        border-radius: 3px;
        height: 8.5vh;
        width: 18vw;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    .view-project-container .project-links .link .icon{
        height: 6.5vw;
        width: 6.5vw;
        color: black;
    }
    
    .view-project-container .project-links .icon-text{
        /* background-color: aqua; */
        height: 7vh;
        width: 50vw;
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-transform: uppercase;
        font-size: 4vw;
        color: #8BF5FA;
    }
    
    .view-project-container .project-links button:hover{
        background-color: #8BF5FA;
        border: 2px solid black;
        transition: 0.2s ease-in-out all;
    }
    
    .view-project-container .project-links button:hover > .link{
        background-color: black;
    }
    
    .view-project-container .project-links button:hover > .link .icon{
        color: white;
    }
    
    .view-project-container .project-links button:hover > .icon-text{
        color: black;
    }
    
    
}